body{ 
    background-color: #9552;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

.flex-row {
    flex-direction: row;
    display: flex;
    margin: 12px;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container{
        margin: 10px auto;
        width:100%;
}

